.button{
    width: 100px;
    height: 100px;
    border: 1px solid;
    display: inline-block;
}


#grey{
    background-color: grey;
}

#white{
    background-color: white;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

#purple{
    background-color: purple;
}

