img{
    width: 1000px;
}

button{
    width: 100px;

}
/* .imgChanging{
   width: 100%;
   height: 100%;
   object-fit: cover;
} */

.maincontainer{
   
   width: 1000px;
   height: 1000px;
   border: 2px solid black;
   overflow: hidden;
}


.containerbutton{
    
    margin: 100px;
}